---
import Layout from './Layout.astro'
import CalcHeader from '../components/CalcHeader.astro'

interface Props {
  title: string;
  description: string;
  wide?: boolean;
}

const { title, description, wide = false } = Astro.props;
---

<Layout title={title} description={description} wide={wide}>
  <CalcHeader />
  <main class="mt-8">
    <slot />
  </main>
</Layout>
